---
layout: default
title: matthew rothenberg - select projects
---

<h2>selected projects</h2>

{% for post in site.posts %}
<article class="row">
  <!--
  image sidebar
  at 3 columns wide this is approx:
    md ~81*3 = 243px (486px retina)
    lg ~97*3 = 291px (582px retina)
    xs retina could be ~640px??

  at 4 columns wide this is approx
    md ~81*4 = 324px (648px retina)
    lg ~97*4 = 388px (776px retina)

  actual in img-thumbail
    md 293px (586px retina)
    lg 360px (720px retina)
  -->
  <section class="images col-md-4 col-lg-4">
    {% for image in post.images %}
    <img src="/images/720px/{{ image }}" class="img-responsive img-thumbnail">
    {% endfor %}
  </section>

  <section class="description col-md-6 col-lg-5">
    <h3>{{ post.title }} <small>{{post.year}}</small></h3>

    {{ post.content }}
  </section>

  <section class="metadata text-muted col-md-2 col-lg-3">

    <section class="links">
      <!-- <a href="{{post.url}}">
        <i class="fa fa-link"></i>
      </a> -->
      {% if post.links.src %}
      <a href="{{post.links.src}}">
        <i class="fa fa-git-square"></i>
      </a>
      {% endif %}
      {% if post.links.web %}
      <a href="{{post.links.web}}">
        <i class="fa fa-external-link"></i>
      </a>
      {% endif %}
    </section>

    <section class="tags">
      {% for tag in post.tags %}
      <code class="tag">{{ tag }}</code>
      {% endfor %}
    </section>

  </section>
</article>
{% endfor %}
