---
layout: default
image_base_path: /images/projects/resized/720px/
---

<div class="row">

  <section class="images col-md-4 col-lg-6">
    {% for image in page.images %}
    <img src="{{ layout.image_base_path }}{{ image }}" class="img-responsive img-thumbnail">
    {% endfor %}
    {% for image in page.additional_images %}
    <img src="{{ layout.image_base_path }}{{ image }}" class="img-responsive img-thumbnail">
    {% endfor %}
  </section>

  <section class="post col-md-8 col-lg-6">
    {{ content }}
  </section>

</div>

<section class="links metadata text-muted">
  <li>produced: {{ page.date | date: "%Y" }}</li>

  {% if page.tags %}
  <li>
  tags:
    {% for tag in page.tags %}
      <code class="tag">{{ tag }}</code>
    {% endfor %}
  </li>
  {% endif %}

  {% if page.links.src %}
  <li>
    <a href="{{page.links.src}}">
      <i class="fa fa-git-square"></i> source code
    </a>
  </li>
  {% endif %}

  {% if page.links.web %}
  <li>
  <a href="{{page.links.web}}">
    <i class="fa fa-external-link"></i> external link
  </a>
  </li>
  {% endif %}
</section>
